main{
  display:flex;
  justify-content: center;
  align-items:center;
  min-height:100vh;
  background:#f7f7fa;
}

section[aria-labelledby="profile-form-title"]{
  background:#fff;
  border:2px solid black;
  border-radius: 20px;
  padding:2em;
  display:flex;
  flex-direction: column;
  max-width: 800px;
}

form{
  display:flex;
  flex-direction: row;
  gap:2.5rem;
}

.profile-left{
  flex:1;
  min-width: 320px;
}

.profile-right{
  flex:1;
  min-width: 240px;
}

label{
  display:block;
  margin-bottom: 0.4em;
  font-size:1.2em;
  font-weight: 500;
}

input[type="text"],input[type="email"],input[type="password"]{
  width:100%; /* or display:block*/
}

.input-icon-group{
  display:flex;
}

.input-icon-group input{
  flex:1;
}

.input-icon-group button{
  margin-left: -2.3em;
  border:none;
  background: transparent;
}

.submit-btn{
  width:100%;
  background:black;
  color:white;
  font-weight:600;
  border:none;
  border-radius: 13px;
  padding:1em 0;
  font-size:1.2em;
  margin-top: 0.8em;
  cursor:pointer;
}

.ring-progress{
  display:flex;
  align-items:center;
  justify-content: center;
  margin-bottom:0.8em;
  width:100px;
  height:100px;
  border:4px solid #7186a0;
  border-radius: 50%;
  font-size: 2em;
  position:relative;
  background:conic-gradient(blue 0% 65%,red 65% 100%);
}

.ring-text{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  font-weight: 600;
  color:#222;
}


.profile-checklist{
  list-style: none;
  margin:0;
  padding:1em;
  background:#ededf5;
  border-radius: 14px;
  font-size:1.13em;
}