main{
  display:flex;
  justify-content: center;
  align-items:center;
  min-height:100vh;
  background:#f7f7fa;
}

section[aria-labelledby="profile-form-title"]{
  background:#fff;
  border:2px solid black;
  border-radius: 20px;
  padding:2em;
  display:flex;
  flex-direction: column;
  max-width: 800px;
}